
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align: left;">
    <div style="width: 500px; margin: 0 auto; border: 1px solid; margin: auto; padding: 15px">
        @RenderBody()
    </div>
</div>


