
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>_WebLayout</title>
</head>
<body>
    <div> 
        @RenderBody()
    </div>
</body>
</html>
