@model CIS229C_II_Project.Models.JobDTO
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}
<!-- This file is to display the data from the model in table format-->
<h2>@ViewBag.message</h2>

<table class="table">
    <tr>
        <th>Customer</th>
        <th>Customer</th>
    </tr>
    @foreach (var customer in Model.CustomerList)
    {
        <tr>
            <td>@customer.FirstName @customer.LastName</td>
            <td></td>
        </tr>
    }
</table>
