
@{
    ViewBag.Title = "Create Service";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<h1 style="text-align:center"> Create Service </h1>

<form method="post" action="@Url.Action("CreateService","Service")">

    <div class="mb-3">
        <label for="Service Name" class="form-label"> Service Name </label>
        <input type="text" class="form-control" id="serviceName" name="ServiceName" required>
    </div>
    <div class="mb-3">
        <label for="Service Description" class="form-label"> Service Description </label>
        <input type="text" class="form-control" id="servDescrip" name="serviceDescription" required>
    </div>
    <div class="mb-3">
        <label for="Service Price" class="form-label"> Service Price </label>
        <input type="email" class="form-control" id="servPrice" name="ServicePrice" required>
    </div>
    <div>
        <button type="submit" class="btn btn-primary" style="width:100%"> Submit </button>
    </div>

    <div>@ViewBag.Message</div>
</form>



