@model List<CIS229C_II_Project.Models.Service>

@{
    // Viewbag.Title will go in the tab text in the browser
    ViewBag.Title = "Edit Service";
    // I created a new layout for Service layout with a service navigation section
    Layout = "~/Views/Shared/_ServiceLayout.cshtml";
}

<h2>Edit Service</h2>


